<nav class="navbar bg-dark navbar-expand-lg border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <div >
        <div class="navbar-nav">
          <a class="nav-link" [routerLink]="''" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Libros</a>
          <a class="nav-link" [routerLink]="'/listar-usuarios'" routerLinkActive="active">Usuarios</a>
          <a class="nav-link" [routerLink]="'/listar-reservas'" routerLinkActive="active">Reservas</a>
      </div>
      
      </div>
      <a class="navbar-brand ms-auto" href="/">TecSolutions</a>
    </div>
</nav>