<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE RESERVAS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-reservas">Nuevo</button>
                    <table *ngIf="listReservas.length > 0" class="table table-striped mt-2 table-responsive">
                          <thead>
                            <tr >
                              <th scope="col">Nombre</th>
                              <th scope="col">Libro</th>
                              <th scope="col">Acciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let reservas of listReservas">
                              <td>{{reservas.nombre}}</td>
                              <td>{{reservas.libro}}</td>
                              <td>
                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                                <i (click)="eliminarReserva(reservas._id)" class="fa-solid fa-trash text-danger"></i>
                              </td>
                              
                            </tr>
                          </tbody>
                      </table>
                      <h5 *ngIf="listReservas.length == 0" style="text-align: start; margin-top: 10px;">No hay reservas para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>

