<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{titulo | uppercase}}</span>
                    <form class="mt-3" [formGroup]="usuarioForm" (ngSubmit)="agregarUsuario()">
                        <div class="mb-3">
                            <input type="text" formControlName="nombre"
                            class="form-control form-control-lg" placeholder="Nombre" >
                            <div class="text-danger"
                            *ngIf="usuarioForm.get('nombre')?.hasError('required') && usuarioForm.get('nombre')?.touched">
                                <span>EL nombre <strong>es obligatorio</strong></span>
                            </div>
                            <div class="text-danger"
                            *ngIf="usuarioForm.get('nombre')?.hasError('minlength') && usuarioForm.get('nombre')?.touched">
                            <span>El nombre debe tener al menos 4 caracteres</span>
                            </div>
                            <div class="text-danger"
                            *ngIf="usuarioForm.get('nombre')?.hasError('maxlength') && usuarioForm.get('nombre')?.touched">
                            <span>El nombre no puede exceder los 50 caracteres</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="apellido"
                            class="form-control form-control-lg" placeholder="Apellido" >
                            <div class="text-danger"
                            *ngIf="usuarioForm.get('apellido')?.hasError('required') && usuarioForm.get('apellido')?.touched">
                                <span>EL apellido <strong>es obligatorio</strong></span>
                            </div>
                            <div class="text-danger"
                            *ngIf="usuarioForm.get('apellido')?.hasError('minlength') && usuarioForm.get('apellido')?.touched">
                            <span>El apellido debe tener al menos 4 caracteres</span>
                            </div>
                            <div class="text-danger"
                            *ngIf="usuarioForm.get('apellido')?.hasError('maxlength') && usuarioForm.get('apellido')?.touched">
                            <span>El apellido no puede exceder los 50 caracteres</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="email" formControlName="email"
                            class="form-control form-control-lg" placeholder="Email" >
                            <div class="text-danger"
                            *ngIf="usuarioForm.get('email')?.hasError('required') && usuarioForm.get('email')?.touched">
                                <span>EL email <strong>es obligatorio</strong></span>
                            </div>
                            <div class="text-danger"
                            *ngIf="usuarioForm.get('email')?.hasError('minlength') && usuarioForm.get('email')?.touched">
                            <span>El email debe tener al menos 4 caracteres</span>
                            </div>
                            <div class="text-danger"
                            *ngIf="usuarioForm.get('email')?.hasError('maxlength') && usuarioForm.get('email')?.touched">
                            <span>El email no puede exceder los 30 caracteres</span>
                            </div>
                            <div class="text-danger"
                            *ngIf="usuarioForm.get('email')?.errors?.email && usuarioForm.get('email')?.touched">
                                <span>Por favor ponga un email <strong>valido</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button routerLink="/listar-usuarios" class="btn btn-secondary btn-lg float-start">Volver</button>
                            <button type="submit" [disabled]="usuarioForm.invalid" class="btn btn-success btn-lg float-end">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>    
    </div>
</div>        